@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 39, 79;
  --background-web: 250, 250, 250;
}

body {
  background: rgb(var(--background-web));
  color: rgb(var(--foreground-rgb));
}
